---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About Me"
  ><section class="mx-auto flex size-full max-w-prose flex-col items-center justify-center gap-4">
    <h1 class="text-2xl text-primary md:text-3xl">Churchill Jay Sungcados</h1>
    <div class="flex items-center justify-center gap-2 underline">
      <a href="mailto:churchillexe@gmail.com">churchillexe@gmail.com</a>
      <div class="my-1 self-stretch bg-muted p-px"></div>
      <a href="https://github.com/churchilldotexe">github.com/churchilldotexe</a>
    </div>
    <p class="p-2">
      I'm a self taught Frontend Developer, who likes to code in Typescript. I like the type safety
      Typescript brings, it makes me and help me become a better developer by being strict to the
      code base. I enjoy developing a lot and would like to learn more, as of now i am learning
      fullstack development.
    </p>
    <br />
    <article class="space-y-3">
      <h2 class="text-xl">My Coding Education</h2>

      <article class="space-y-1">
        <h3 class="text-lg">
          <a
            href="https://v2.scrimba.com/home"
            class="inline text-indigo-500 underline"
            rel="noopener noreferrer">Scrimba</a
          >
        </h3>
        <div class="px-2">
          <p>
            I started my journey from scrimba and took their frontend Career path that helps me
            understand the importance of html semantics and css designs and learn JavaScript and
            React
          </p>
          <p class="pt-2">Certificates:</p>
          <ul class="flex flex-wrap items-center justify-center divide-x-2">
            <li class="px-3">
              <a
                href="https://scrimba.com/certificate/udx5yxHW/gfrontend"
                rel="noopener noreferrer"
                class="text-indigo-500 underline"
                >Frontend Career Path
              </a>
            </li>

            <li class="px-3">
              <a
                rel="noopener noreferrer"
                href="https://scrimba.com/certificate/udx5yxHW/greact"
                class="text-indigo-500 underline"
                >Advance React
              </a>
            </li>

            <li class="px-3">
              <a
                class="text-indigo-500 underline"
                rel="noopener noreferrer"
                href="https://scrimba.com/certificate/udx5yxHW/gaiengineer"
                >Ai Engineer
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="space-y-1">
        <h3 class="text-lg text-indigo-500 underline">
          <a rel="noopener noreferrer" href="https://frontendmasters.com/">Frontend Masters</a>
        </h3>
        <div class="space-y-2 px-2">
          <p class="">
            I also learned the idea and basics of Data Structures and algorithms. It helped me
            understand the concept and the structure of a language and how JavaScript Data Structure
            works under the hood.
          </p>
          <ul class="flex w-full flex-wrap justify-center divide-x-2">
            <li class="px-3">
              <a
                class="text-indigo-500 underline"
                href="https://frontendmasters.com/courses/algorithms/introduction/"
                >Algorithm and Data structure Course</a
              >
            </li>
            <li class="px-3">
              <a
                rel="noopener noreferrer"
                class="text-indigo-500 underline"
                href=" https://drive.google.com/file/d/1oCMJksVHLZbmcVzF4SjEI5qjJI_9N-En/view?usp=sharing "
                >Certificate</a
              >
            </li>
          </ul>
        </div>
      </article>
    </article>
  </section>
</Layout>
