---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("posts");
---

<Layout title="Contacts">
  <section class="mx-auto flex w-full max-w-5xl flex-col items-center justify-center p-6">
    {
      posts.map((item) => (
        <a
          class="group relative w-full grow rounded border p-4 transition-shadow duration-500 hover:shadow-elevate-light dark:hover:shadow-elevate-dark"
          href={`/blog/${item.slug}`}
        >
          <div class="flex items-center justify-between">
            <h2 class="flex items-center py-2 text-2xl font-semibold text-primary group-hover:underline lg:text-3xl">
              {item.data.name} <span class="hidden group-hover:block">&rarr;</span>
            </h2>
            <time datetime={item.data.date}>{new Date(item.data.date).toDateString()}</time>
          </div>
          <p class="pl-3 leading-relaxed tracking-wide lg:text-lg">{item.data.description}</p>
        </a>
      ))
    }
  </section>
</Layout>
