---
export const prerender = false;

import ProjectForm from "@/components/react-components/ProjectForm";
import Layout from "../../layouts/Layout.astro";
import type { LoginParamsTypes } from "../api/callback";

const userId = Astro.locals.userId;

const loginStatusParams = (searchParams: URLSearchParams): LoginParamsTypes => {
  const status = searchParams.get("login");
  const message = searchParams.get("message");

  if (status === "success") {
    return { status: "success" };
  } else if (status === "error" && message) {
    return { status: "error", message };
  } else {
    return { status: "failed" };
  }
};

const loginParams = loginStatusParams(Astro.url.searchParams);

if (!userId && loginParams.status === "success") {
  return Astro.redirect(`/api/redirect`); // helper to refresh cookie
}
const isLoggedIn = userId ? true : false;
---

<Layout title="Dashboard ">
  <section class="flex size-full flex-col items-center justify-center gap-4">
    <ProjectForm client:load isLoggedIn={isLoggedIn} loginParams={loginParams} />
  </section>
</Layout>
