---
export const prerender = false;

import ProjectForm from "@/components/react-components/ProjectForm";
import Layout from "../../layouts/Layout.astro";

const userId = Astro.locals.userId;

//TODO: show message in case failed/error refactor the api/callback
//- [x] create a type that will only show if the status is failed like an error message.
//- [x] probably remove the pending as it is not needed
// - [] if can do a sonner effect component

export type LoginStatus = "success" | "failed";
const loginParams = Astro.url.searchParams.get("login");
let loginStatus: LoginStatus = loginParams === "success" ? loginParams : "failed";

if (!userId && loginStatus === "success") {
  return Astro.redirect(`/api/redirect`); // helper to refresh cookie
}
const isLoggedIn = userId ? true : false;
---

<Layout title="Welcome to Dashboard ">
  <section class="flex size-full flex-col items-center justify-center gap-4">
    <ProjectForm client:load isLoggedIn={isLoggedIn} loginStatus={loginStatus} />
  </section>
</Layout>
