---
import Form from "@/components/react-components/Form";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Dashboard ">
  <section class="flex size-full min-h-dvh flex-col items-center justify-center gap-4">
    <Form />
  </section>
</Layout>
