---
import { FaLinkedin, FaSquareFacebook, FaSquareGithub, FaSquareXTwitter } from "react-icons/fa6";
import { SOCIAL_LINKS } from "@/lib/constants.ts";
---

<footer class="flex items-center justify-center gap-4 p-2 text-2xl">
  <a
    href={SOCIAL_LINKS.facebook}
    target="_blank"
    rel="noopener noreferrer"
    class="transition-all duration-500 hover:-translate-y-2
                    hover:scale-125 focus:-translate-y-2
                    focus:scale-125 focus:outline-none active:animate-bounce"
  >
    <FaSquareFacebook />
  </a>
  <a
    href={SOCIAL_LINKS.github}
    target="_blank"
    rel="noopener noreferrer"
    class="transition-all duration-500 hover:-translate-y-2
                    hover:scale-125 focus:-translate-y-2
                    focus:scale-125 focus:outline-none active:animate-bounce"
  >
    <FaSquareGithub />
  </a>
  <a
    href={SOCIAL_LINKS.twitter}
    target="_blank"
    rel="noopener noreferrer"
    class="transition-all duration-500 hover:-translate-y-2
                    hover:scale-125 focus:-translate-y-2
                    focus:scale-125 focus:outline-none active:animate-bounce"
  >
    <FaSquareXTwitter />
  </a>
  <a
    href={SOCIAL_LINKS.linkedin}
    target="_blank"
    rel="noopener noreferrer"
    class="transition-all duration-500 hover:-translate-y-2
                    hover:scale-125 focus:-translate-y-2
                    focus:scale-125 focus:outline-none active:animate-bounce"
  >
    <FaLinkedin />
  </a>
</footer>
