---
export const prerender = false;
const pathname = Astro.url.pathname;

const pageLinks = [
  {
    href: "/",
    name: "Home",
  },
  {
    href: "/projects/",
    name: "Projects",
  },
  {
    href: "/blog/",
    name: "Blog",
  },
  {
    href: "/about/",
    name: "About",
  },
  {
    href: "/contact/",
    name: "Contact",
  },
];
---

<script>
  let currScollPos: number = 0;

  document.addEventListener("scroll", () => {
    if (window.screen.width < 640) {
      const scrollTop = document.documentElement.scrollTop;
      if (scrollTop > currScollPos) {
        document.documentElement.style.setProperty("--translate-y", "-100px");
        currScollPos = scrollTop;
      } else {
        document.documentElement.style.setProperty("--translate-y", "0");
        currScollPos = scrollTop;
      }
    }
  });
</script>

<!-- TODO: handle the mobile user. add the hide when scroll down and show when scroll up. add a side bar(burger button) if needed-->
<nav
  class:list={[
    "-transition-90-custom sticky top-0 z-10 flex w-full items-center justify-center pt-2  ",
    "md:justify-between  ",
  ]}
  id="nav"
>
  <div
    class="hidden pl-4 text-xl leading-none [text-shadow:1px_1px_2px_hsl(var(--background)),_0_0_1em_hsl(var(--background)),_0_0_0.2em_hsl(var(--background))] hover:underline md:block"
  >
    <a href="/dashboard">&larr; dashboard </a>
  </div>
  <ul
    class="flex w-fit rounded-md bg-background/85 px-4 shadow-elevate-light backdrop-blur dark:shadow-elevate-dark"
  >
    {
      pageLinks.map((link) => (
        <li
          class:list={[
            "flex-1 max-w-fit w-full px-2 mt-1 pt-1 pb-2 md:text-xl  transition-transform ",
            {
              "relative rounded-t-lg bg-background dark:shadow-elevate-dark-inset scale-95 shadow-elevate-light-inset":
                pathname === `${link.href}`,
            },
            {
              "before:content-[''] before:absolute before:inset-0": pathname === `${link.href}`,
            },
          ]}
        >
          <a href={link.href} class="inline-block w-full" data-astro-prefetch>
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @property --translate-y {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
  }

  @media (max-width: 640px) {
    .-transition-90-custom {
      transition: transform 0.3s ease-in-out;
      transform: translateY(var(--translate-y));
    }
  }
</style>
