---
import { ServerClusterSvg } from "@/components/svg/ErrorSvg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not Found">
  <section
    class:list={[
      "relative mx-auto max-w-screen-xl size-full  ",
      "flex flex-col items-center justify-center",
    ]}
  >
    <h1
      class:list={[
        "w-full absolute bottom-[60%] [grid-area:title] place-self-end text-center text-4xl font-extrabold  text-primary   sm:text-6xl lg:text-7xl",
        "after:content-[attr(data-name)] after:[-webkit-text-stroke:2px_hsl(var(--foreground))] sm:after:[-webkit-text-stroke:3px_hsl(var(--foreground))] after:absolute after:inset-0 after:text-transparent after:z-10 after:[text-stroke:3px_hsl(var(--foreground))] sm:after:[text-stroke:2px_hsl(var(--foreground))] ",
      ]}
      data-name={"404"}
    >
      404
    </h1>

    <h2
      class:list={[
        "w-full absolute bottom-[50%] [grid-area:title] place-self-end text-center text-4xl font-extrabold  text-primary   sm:text-6xl lg:text-7xl",
        "after:content-[attr(data-name)] after:[-webkit-text-stroke:2px_hsl(var(--foreground))] sm:after:[-webkit-text-stroke:3px_hsl(var(--foreground))] after:absolute after:inset-0 after:text-transparent after:z-10 after:[text-stroke:3px_hsl(var(--foreground))] sm:after:[text-stroke:2px_hsl(var(--foreground))] ",
      ]}
      data-name={"Page not Found"}
    >
      Page not Found
    </h2>
    <ServerClusterSvg className="z-[1]  h-fit   [grid-area:svg]" />
  </section>
</Layout>
