---
import { FaSquareGithub } from "react-icons/fa6";
import { BiLogoNetlify } from "react-icons/bi";
import { Image } from "astro:assets";
import type { HTMLAttributes } from "astro/types";

type Props = {
  cardId: number;
  profileImg: ImageMetadata;
  projectName: string;
  description: string;
} & HTMLAttributes<"div">;

const { description, projectName, profileImg, id, class: className, ...props } = Astro.props;
---

<div
  class:list={["p-4 shadow-elevate-light backdrop-blur dark:shadow-elevate-dark", className]}
  {...props}
>
  <Image class="rounded-lg" src={profileImg} alt="sample page" />
  <h3 class="mb-2 mt-4 text-xl font-bold capitalize">{projectName}</h3>
  <p class="mb-2 leading-6">{description}</p>
  <div class="flex items-center gap-8">
    <a
      href="#"
      target="_blank"
      class="flex items-center justify-start gap-2 text-lg
                     transition-all hover:scale-110 focus:border-b focus:border-red-600 focus:outline-none
                     active:animate-ping"
    >
      <FaSquareGithub />
      repository
    </a>
    <a
      href="#"
      target="_blank"
      class="flex items-center justify-start gap-2 text-lg
                     transition-all hover:scale-110 focus:border-b focus:border-red-600 focus:outline-none
                     active:animate-ping"
    >
      <BiLogoNetlify />
      live site
    </a>
  </div>
</div>
