---

---

<div
  class="prose relative mx-auto p-2 text-foreground dark:prose-invert lg:prose-xl prose-headings:capitalize prose-h1:text-3xl prose-h1:font-bold prose-h3:text-2xl prose-h3:font-bold prose-h4:text-xl prose-h4:font-bold prose-p:text-justify prose-a:text-blue-600 prose-img:rounded-xl md:border-x md:p-8"
>
  <slot />
</div>
